<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.BoardMapper">
  <insert id="boardInsert">
    INSERT INTO BOARD(IDX,MENU_ID, TITLE, CONT,WRITTER)
    VALUES(
      (SELECT NVL(MAX(IDX),0)+1 FROM BOARD),
      'MENU01',
      #{title},
      #{cont},
      #{writter}
    )
  </insert>
  <select id="boardList" resultType="com.board.domain.BoardVo" >
    SELECT  IDX, TITLE, WRITTER, TO_CHAR(REGDATE,'YYYY-MM-DD') REGDATE, READCOUNT  
    FROM  BOARD
    ORDER BY IDX DESC
  </select>
  <select id="boardView" resultType="com.board.domain.BoardVo">
    SELECT IDX, TITLE, CONT, WRITTER, REGDATE, READCOUNT
    FROM BOARD
    WHERE IDX=#{idx}
  </select>
  <delete id="boardDelete">
    DELETE FROM BOARD WHERE IDX = #{idx}
  </delete>
  <update id="boardUpdate" statementType="CALLABLE" parameterType="hashmap">
    {CALL PKG_BOOT_BOARD.PROC_BOARD_UPDATE(
      #{idx, mode=IN, jdbcType=INTEGER},
      #{title, mode=IN, jdbcType=VARCHAR},
      #{cont, mode=IN, jdbcType=VARCHAR}
    )}
  </update>
</mapper>